[global_config]
  enabled_plugins = TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  focus = system
  title_transmit_fg_color = "#285ea6"
  title_inactive_fg_color = "#5a6f8c"
  title_transmit_bg_color = "#000000"
  title_inactive_bg_color = "#050d17"
[keybindings]
[profiles]
  [[default]]
    scrollbar_position = hidden
    palette = "#000000:#892183:#a06026:#a09526:#1e747d:#89214c:#629223:#444444:#555753:#ad0798:#ca6408:#cab808:#078a97:#ad074d:#6cb907:#e9e9e9"
    cursor_shape = ibeam
    use_system_font = False
    cursor_color = "#cccccc"
    foreground_color = "#f3f4f6"
    font = DejaVu Sans Mono 10
    background_color = "#181b21"
  [[LightFruit]]
    scrollbar_position = hidden
    use_system_font = False
    palette = "#000000:#892183:#a06026:#a09526:#1e747d:#89214c:#629223:#444444:#555753:#ad0798:#ca6408:#cab808:#078a97:#ad074d:#6cb907:#e9e9e9"
    foreground_color = "#181b21"
    font = DejaVu Sans Mono 10
    background_color = "#f3f4f6"
  [[DarkFruit]]
    scrollbar_position = hidden
    palette = "#000000:#892183:#a06026:#a09526:#1e747d:#89214c:#629223:#444444:#555753:#ad0798:#ca6408:#cab808:#078a97:#ad074d:#6cb907:#e9e9e9"
    cursor_shape = ibeam
    use_system_font = False
    cursor_color = "#cccccc"
    foreground_color = "#f3f4f6"
    font = DejaVu Sans Mono 10
    background_color = "#181b21"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = DarkFruit
    [[[window0]]]
      type = Window
      parent = ""
[plugins]